language: node_js
node_js:
  - "4.1"
services:
  - mongodb
addons:
  code_climate:
    repo_token: $CODECLIMATE_REPO_TOKEN
script: npm run coverage
after_script:
  - codeclimate-test-reporter < ./coverage/lcov.info